In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
# Divide tha dataset into independent and dependent dataset
y=df['tip']
X=df[df.columns.difference(['tip'])]

In [4]:
X

      day     sex  size smoker    time  total_bill
0     Sun  Female     2     No  Dinner       16.99
1     Sun    Male     3     No  Dinner       10.34
2     Sun    Male     3     No  Dinner       21.01
3     Sun    Male     2     No  Dinner       23.68
4     Sun  Female     4     No  Dinner       24.59
..    ...     ...   ...    ...     ...         ...
239   Sat    Male     3     No  Dinner       29.03
240   Sat  Female     2    Yes  Dinner       27.18
241   Sat    Male     2    Yes  Dinner       22.67
242   Sat    Male     2     No  Dinner       17.82
243  Thur  Female     2     No  Dinner       18.78

[244 rows x 6 columns]

In [5]:
y

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
X['day']=X['day'].cat.codes
X['sex']=X['sex'].cat.codes
X['smoker']=X['smoker'].cat.codes
X['time']=X['time'].cat.codes

/home/akash/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/akash/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/akash/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/akash/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [8]:
X

     day  sex  size  smoker  time  total_bill
0      3    1     2       1     1       16.99
1      3    0     3       1     1       10.34
2      3    0     3       1     1       21.01
3      3    0     2       1     1       23.68
4      3    1     4       1     1       24.59
..   ...  ...   ...     ...   ...         ...
239    2    0     3       1     1       29.03
240    2    1     2       0     1       27.18
241    2    0     2       0     1       22.67
242    2    0     2       1     1       17.82
243    0    1     2       1     1       18.78

[244 rows x 6 columns]

In [9]:
# Train Test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,train_size=0.75, random_state=True)

In [10]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=200).fit(X_train,y_train)

In [11]:
# SmartExplainer Object from Shapash
# To understand how model works with specified data

In [15]:
from shapash.explainer.smart_explainer import SmartExplainer
xpl=SmartExplainer()
xpl.compile(
    x=X_test,
    model=regressor, 
)

Backend: Shap TreeExplainer

In [17]:

app = xpl.run_app(title_story='Tips Dataset')

/home/akash/anaconda3/lib/python3.7/site-packages/shapash/webapp/smart_app.py:306: FutureWarning:

Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.

INFO:root:Your Shapash application run on http://akash-Lenovo-ideapad-330-15IKB:8050/

Dash is running on http://0.0.0.0:8050/

INFO:root:Use the method .kill() to down your app.
INFO:shapash.webapp.smart_app:Dash is running on http://0.0.0.0:8050/

 * Serving Flask app "shapash.webapp.smart_app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

INFO:werkzeug: * Running on http://0.0.0.0:8050/ (Press CTRL+C to quit)
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET / HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /assets/material-icons.css?m=1636024236.3099592 HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /assets/style.css?m=1636024236.3139594 HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_renderer/react@16.v1_8_3m1636024206.14.0.min.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_renderer/polyfill@7.v1_8_3m1636024206.8.7.min.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_renderer/react-dom@16.v1_8_3m1636024206.14.0.min.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_renderer/prop-types@15.v1_8_3m1636024206.7.2.min.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_table/bundle.v4_11_0m1636024206.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_core_components/dash_core_components-shared.v1_13_0m1636024206.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_core_components/dash_core_components.v1_13_0m1636024206.min.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_html_components/dash_html_components.v1_1_1m1636024206.min.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /assets/main.js?m=1636024236.3099592 HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_daq/dash_daq.v0_5_0m1636024235.min.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v0_9_1m1636024235.min.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /_dash-component-suites/dash_renderer/dash_renderer.v1_8_3m1636024206.min.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:04] "GET /assets/jquery.js?m=1636024236.3099592 HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:05] "GET /_dash-dependencies HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:05] "GET /_dash-layout HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:05] "GET /assets/favicon.ico?m=1636024236.3059592 HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:05] "GET /_dash-component-suites/dash_core_components/async-dropdown.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:05] "GET /_dash-component-suites/dash_core_components/async-graph.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:05] "GET /assets/shapash-fond-fonce.png HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:05] "GET /assets/settings.png HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:05] "GET /_dash-component-suites/dash_core_components/async-slider.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:05] "GET /assets/reload.png HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:05] "GET /_dash-component-suites/dash_table/async-table.v4_11_0m1604001235.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "GET /_dash-component-suites/dash_core_components/async-plotlyjs.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
/home/akash/anaconda3/lib/python3.7/site-packages/shapash/webapp/smart_app.py:827: FutureWarning:

Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.

INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:06] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:07] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:07] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:07] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:07] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:07] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:07] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:07] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:42] "POST /_dash-update-component HTTP/1.1" 204 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:42] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:45] "POST /_dash-update-component HTTP/1.1" 204 -
INFO:werkzeug:127.0.0.1 - - [04/Nov/2021 16:49:45] "POST /_dash-update-component HTTP/1.1" 200 -

In [18]:
predictor=xpl.to_smartpredictor()

In [19]:
predictor.save('./predictor.pkl')

In [20]:
from shapash.utils.load_smartpredictor import load_smartpredictor
predictor_load= load_smartpredictor('./predictor.pkl')

Make a prediction with your SmartPredictor
In order to make new predictions and summarize local explainability of your model on new datasets, you can use the method add_input of the SmartPredictor.

The add_input method is the first step to add a dataset for prediction and explainability.
It checks the structure of the dataset, the prediction and the contribution if specified.
It applies the preprocessing specified in the initialisation and reorder the features with the order used by the model. (see the documentation of this method)
In API mode, this method can handle dictionnaries data which can be received from a GET or a POST request.
Add data
The x input in add_input method doesn't have to be encoded, add_input applies preprocessing

In [21]:
predictor_load.add_input(x=X, ypred=y)

In [22]:
detailed_conributions = predictor_load.detail_contributions()

In [23]:
detailed_conributions.head()

    tip       day       sex      size    smoker      time  total_bill
0  1.01  0.058220  0.112466 -0.009250 -0.032474 -0.008800    0.156701
1  1.66  0.105189 -0.057844  0.006727 -0.096809 -0.018843   -1.225306
2  3.50  0.080224 -0.024010 -0.008059 -0.009327  0.004291    0.422644
3  3.31  0.125826 -0.019617 -0.033731  0.005022 -0.004654    0.094868
4  3.61  0.042791  0.033717 -0.056329 -0.016334 -0.008011   -0.330620

In [24]:
predictor_load.modify_mask(max_contrib=3)

In [25]:
explanation=predictor_load.summarize()

In [26]:
explanation.head()

,tip,feature_1,value_1,contribution_1,feature_2,value_2,contribution_2,feature_3,value_3,contribution_3
0,1.01,total_bill,16.99,0.156701,sex,1.0,0.112466,day,3.0,0.05822
1,1.66,total_bill,10.34,-1.225306,day,3.0,0.105189,smoker,1.0,-0.096809
2,3.50,total_bill,21.01,0.422644,day,3.0,0.080224,sex,0.0,-0.02401
3,3.31,day,3.0,0.125826,total_bill,23.68,0.094868,size,2.0,-0.033731
4,3.61,total_bill,24.59,-0.33062,size,4.0,-0.056329,day,3.0,0.042791